.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 40%;
  z-index: 100;
  background-color: #282c34;
  box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.5);
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.modal-content {
  margin: 20px;
}

.close-container {}

.close-container:hover {
  cursor: pointer;
}

.close {
  font-size: 24px;
  transition: 0.3s color ease-in-out;
}

.close-container:hover>.close {
  color: rgba(227, 27, 109);
}