.card {
  display: flex;
  flex-direction: column;
  background: #4e4a4a;
  font-size: 1.5rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  transition: all .5s;
  overflow: hidden;
}

.card:hover {
  cursor: pointer;
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-4px);
}

.basic-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card-title {
  margin-top: 0px;
  margin-bottom: 1rem;
}

.card-descr {
  margin: 0px;
  font-size: 18px;
}

.card-tech {
  margin-top: auto;
  margin-bottom: 0px;
  font-size: 14px;
  color: lightgray
}

.card-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.card-icons {
  font-size: 1.2rem;
}

.card-icon {
  color: lightgray;
  transition: 0.3s color ease-in-out
}

.card-icon:hover {
  cursor: pointer;
  color: #04c2c9;
}

.space {
  margin-left: 10px;
}